*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #1e1e1e;
  font-family: sans-serif;
  color: white;
  line-height: 1.6;
}
.main-container{
  display: grid;
  max-width: 1200px;
  grid-template-columns: 350px 1fr;
  gap: 80px;
  padding-top: 40px;
  margin: auto;
}
.side-bar{
  position: sticky; 
  top: 40px;
  height: 90vh;
  background-color: #2a2a2a;
  border: 1px solid #3a3a3a;
  border-radius: 16px;
  padding: 40px;
}
.main-content{
  background-color: #2a2a2a; 
  border: px solid #3a3a3a;
  border-radius: 16px;
}

         /* profile section */

.profile{
  text-align: center;
}
.profile img{
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 1px solid #3a3a3a;
}
.profile h2{
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 10px;
  color: #e0e0e0;
}
.profile p{
  background-color: #1e1e1e;
  padding: 2px 15px;
  color: #ffbf00;
  border: 1px solid #3a3a3a;
  font-size: 0.8rem;
  border-radius: 8px;
  display: inline-block;
  margin-top: 10px;
}

           /* contact info section */

.contact{
  margin-top: 30px;
  border-top: 2px solid #3a3a3a;
  padding-top: 20px;
}
.label{
  font-weight: 500;
  font-size: 0.8rem;
  color: #a0a0a0;
}
.value{
  color: #e0e0e0;
  text-decoration: none;
}
.e-mail,.phone{
  margin-bottom: 15px;
}

/*social media section */
.social{
   margin-top: 30px;
  border-top: 2px solid #3a3a3a;
  padding-top: 20px;
  text-align: center;
}
.social img{
  height: 25px;
  width: 25px;
  margin-right: 15px;
  margin-left: 20px;
  filter: grayscale(1) invert(0.7);
  transition: filter 0.3s ease;
}
.social img:hover{
  filter: grayscale(0) invert(0);
  cursor: pointer;
}

/* main content section */
 /* navigation bar */
 .main-content{
  padding: 30px;
 }
 #navigation{
  border-bottom: 2px solid #3a3a3a;
 }
 nav{
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
  gap: 40px;

 }
 nav a{
 text-decoration: none;
 color: #a0a0a0;
 font-weight: 500;
 transition: color 0.3s ease;
 border-bottom: 3px solid #3a3a3a;
 }
 .active, nav a:hover{
  color: #ffbf00;
 }
 /* about-me section */
 #about-me {
  margin-bottom: 30px;
 }

 .heading{
  color: #e0e0e0;
  font-size: 2rem;
  margin-bottom: 10px;
 }
 .line{
  width: 60px;
  height: 5px;
  background-color: #ffbf00;
  margin-bottom: 20px;
 }
 .content{
  text-align: justify;
  color: #a0a0a0;
 }
 /* skills section */
 .grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 30px;
 }

  .item{
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #3a3a3a;
  background-color: #1e1e1e;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 20px;
  transition: trnsform 0.3s ease, shadow 0.3s ease;
 }

 .item img{
  height: 48px;
  width: 48px;
   filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
 }

 .item h3{
  font-size: 1 rem;
  font-weight: 500;
  
 }
 .item:hover{
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
 }
 /* editor section */
 #education{
  margin-top: 30px;

 }
 .edtech{
  position: relative;
  padding-top: 3px;
 }
 .year{
  color: #a0a0a0;
  font-size: 0.9rem;
  margin-bottom: 5px;
 }
 .degree{
  color: #e0e0e0;
  font-size: 1.2rem;
  font-weight: 500; 
  margin-bottom: 8px;
 }
 .college{
  font-style: italic;
  color: #a0a0a0;
  margin-bottom: 15px;
 }
 .work{
  color: #a0a0a0;
 }
 .grad{
  margin-bottom: 25px;
  position: relative;
  padding: 25px;
 }
 .goal{
  height: 15px;
  width: 15px;
   border: 3px solid #ffbf00;
  border-radius:50%;
  position: absolute;
  top: 28px;
  left: 0px;
  z-index: 5;
 }
 .liner{
  position: absolute;
  width: 3px;
  top: 0px;
  left: 5px;
  bottom: 0px;
  border: 2px solid #3a3a3a;
 }

 /* porfolio */
 .project-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
 }
